

body{
  margin:0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
nav{
width: 100%vw;
margin-top: 15px;
padding-bottom: 50px;
}
nav a {
  font-family: arial,sans-serif;
  color:pink;
  font-size: 13px;
  color: #000;
  text-decoration: none;
  display:inline-block;
  margin-top: 10px;
}
#left-nav{
  float: left;
}
#left-nav a{
  padding-left: 15px;
}
#right-nav{
float: right;
}
#right-nav a{
  padding-left: 15px;
}
#right-nav a:first-child{
  padding-left: 0px;
}
#right-nav button{
  margin: 0 15px;
  border: 1px solid #4285f4;
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  line-height: 28px;
  border-radius: 2px;
  padding:0 12px;
}
.nav-icon{
  vertical-align: middle;
  opacity:.55;

}
.nav-icon:hover{
  opacity: 1;
}

.logo{
  padding-top: 109px;
  display: block;
  margin: 0 auto;
}

#search{
  display:flex;
  margin:0 auto;
  margin-top: 40px;
  width: 450px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #dfe1e5;

}
footer{

  margin-top: auto;
  background-color: #f2f2f2;
  min-width: 100vw;
  font-family: arial,sans-serif;

}
footer a{
  display: inline-block;
  padding: 20px 0;
  text-decoration: none;
  color: #5f6368;
  font-size: 14px;
 }

 #bottom-left-nav {
   float:left;
 }
 #bottom-left-nav a{
   padding-left: 15px;}

 #bottom-right-nav {
   float:right;
 }
 #bottom-right-nav a{
   padding-right: 15px;
 }
